# Genotype Preprocessing

Process and read hardcall inputs for white british unrelated UK Biobank ids (train + test sample ids)

### Modules

In [1]:
import pandas as pd #1.5.3
import numpy as np #1.20.3
import matplotlib as plt
import math
from tqdm import tqdm

### Global Vars

In [2]:
wb_unrelated_ids_path = "/gpfs/igmmfs01/eddie/UK-BioBank-proj19655/gzeng/preprocess_gwas/white_british_unrelated_ids.txt"

## Importing and parse vcf file into dataframe

In [3]:
#import vcf
import vcfpy

In [ ]:
vcf_path = "/gpfs/igmmfs01/eddie/UK-BioBank-proj19655/gzeng/genotypes/bgen_assoc/all_chr_threshold_0-9.vcf"

reader = vcfpy.Reader.from_path(vcf_path)

header = ['CHROM', 'ID','POS', 'REF', 'ALT'] + reader.header.samples.names

In [8]:
df_vcf = pd.DataFrame({"eid":reader.header.samples.names})

            eid
0       5514951
1       2212802
2       4736282
3       4068571
4       3103104
...         ...
337539  2835179
337540  2427790
337541  2554513
337542  3589338
337543  3013284

[337544 rows x 1 columns]

In [ ]:
for record in tqdm(reader):       
    rsid=record.ID[0]
    pos=record.POS
    chrom=record.CHROM
    
    bases = [call.gt_bases for call in record.calls]
    
    record_df = pd.DataFrame({
        rsid: bases,
        f"{rsid}_pos": f"{chrom}{pos}" #include chrom as a prefix to pos e.g. chrom 3 pos 100200 becomes 3100200
    })
    
    df_vcf = pd.concat([df_vcf, record_df], axis=1)

In [11]:
df_vcf.to_csv("train_test_geno_input.csv")